@font-face {
    font-family: fcb;
    src: url('/fonts/fcb-webfont.eot');
    src: url('/fonts/fcb-webfont.woff2') format('woff2'),
         url('/fonts/fcb-webfont.woff') format('woff'),
         url('/fonts/fcb-webfont.ttf') format('ttf'),
         url('/fonts/fcb-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: Georgia;
    font-size: 300%;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 100%;
}

h4 {
    font-family: cursive;
    font-size: 50%;
}

.rotate {
    
    transform:rotate(-10deg);
    
    /* Safari */
    -webkit-transform: rotate(-10deg);

    /* Firefox */
    -moz-transform: rotate(-10deg);

    /* IE */
    -ms-transform: rotate(-10deg);

    /* Opera */
    -o-transform: rotate(-10deg);
}