@font-face {
    font-family: fcb;
    src: url('/fonts/fcb-webfont.eot');
    src: url('/fonts/fcb-webfont.woff2') format('woff2'),
         url('/fonts/fcb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: fcb, sans-serif;
    font-size: 400%;
}

h1 {
    font-size: 100%;
}

h4 {
    font-size: 50%;
}